* {
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    color: rgb(22, 21, 21);
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;


}

.logo-simply {
    height: 5em;
    margin: 0.5em
}


hr {
    background-color: orange;
}

.thanksgiving {
    font-size: 0.7em;
    padding: 1em;
    text-align: center;
    width: 100%;
    font-weight: 400;
    color: rgb(6, 46, 75);
    margin-bottom: 200px;
}


article, footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}


h1{
    font-size: 50px;
    color: rgb(22, 21, 21);
    margin-bottom: 40px;
}

.p1 {
    font-size: 30 px;
    color: rgb(22, 21, 21);
}
 
video {
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px;
    border-radius: 5px;
}

figcaption {
    color: rgb(110, 109, 109);
    margin-bottom: 30px;
    text-align: center;
}

#cranberries {
    

    border-left: 1px solid red;
    padding-left: 10px;
    font-size: 20px;
}

.featured {
    text-transform: uppercase;
    color: red;
}

.fresh {
    text-transform: capitalize;
    
}

.fresh:link { 
    color: #2069cf;
    
}

.fresh:hover {
    color: coral;
}

 .fresh:visited {
    color: #2069cf;
 }

 .fresh:active {
    color: yellow;
 }

 .h3 {

    margin-top: 100px;
    font-size: 28px;
    
    

 }

 .line-blue {
    background-color: rgb(0, 89, 255);
    margin-top: 2em;
    
 }

 .focaccia {
    margin-top: 100px;
    font-weight: ;
    font-size: 20px;
 }

 ul , li {
    

    font-size: 20 px;

    

 }

 .method {
    
    font-size: 30px;
 }

.dough{
     margin-top: 50px;
    font-size: 20 px;
}

.lorem {
    margin-top: 5 px;
}

footer {
    margin-top: 2em;
}